<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
 
<servlet> 
<servlet-name>hello</servlet-name> 
<servlet-class>com.caucho.hessian.server.HessianServlet</servlet-class> 
<init-param> 
<param-name>home-class</param-name> 
<param-value>com.yeepay.hessian.HelloImpl</param-value> 
</init-param> 
<init-param> 
<param-name>home-api</param-name> 
<param-value>com.yeepay.hessian.HelloInterf</param-value> 
</init-param> 
</servlet> 
<servlet-mapping> 
<servlet-name>hello</servlet-name> 
<url-pattern>/hello</url-pattern> 
</servlet-mapping>


<context-param>
<param-name>socketPort</param-name>
<param-value>4800</param-value>
</context-param>
<listener>
<description>Socket 服务随web 启动而启动</description>
<listener-class>com.yeepay.socket.SocketServer</listener-class>
</listener>


</web-app>